@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,900;9..40,1000&display=swap');

:root {
  /* Colors: */
  --color-primary: #E50914;
  --color-primary-hover: #C11119;
  --color-secondary-text: #fff;
  --color-terziary: #2d2d2d;
  --color-terziary-hover: #414141;
  --color-reverse: #000;
  --color-divider: #232323;
  --color-download: #0071EB;
  /* Sizes: */
  --btn-width: auto;
  --general-max-width: 1170px;
  --general-wd-container: calc(83, 3333% - 6rem);
  /* Spacing: */
  --container-form-padding: 1rem auto 0;
  --btn-padding: 0.75rem 1.5rem;
  --section-tb-padding: 72px;
  --padding-form: 24px 16px 8px;
  --padding-button-email: 12px 24px;
  /* Font: */
  --titles-size: 2.5rem;
  --title-weight: 1000;
  --h3-size: 1.5rem;
  --h3-weight: 400;
  --h3-line-height: 1.5rem;
  --p-size: 1.25rem;
  --p-weight: 400;
  --font-family: 'DM Sans', sans-serif;
  --font-size-form: 20px;
}