.faq ul li {
    width: 100%;
    height: 80px;
    background-color: var(--color-terziary);
    margin-bottom: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 24px;

}

button:hover {
    background-color: var(--color-primary-hover);
}

.faq ul li:hover {
    background-color: var(--color-terziary-hover);
}

@media screen and (max-width:600px) {
    .form-btn {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    form.flex.column,
    .input-mail {
        max-width: 100%;
    }

}

@media screen and (max-width:900px) {
    .faq ul li {
        font-size: var(--p-size);
    }
}