body {
    background-color: black;
}

.row .container {
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 72px 112.594px 72px 112.594px;
    padding-left: 48px;
    padding-right: 48px;

}

/* .link ul li a {
    text-decoration: none;

} */

.link ul li {
    list-style-type: none;
    margin: 16px 0px 0px 12px;
}

.link {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    justify-items: left;
}

.row .container,
.link a {
    color: var(--color-secondary-text);
    font-size: 0.9rem;

}

.row .container p {
    margin-bottom: 1.5rem;
}