.nav {
  width: calc(83.33333333333334% - 6rem);
}

nav .nav__logo {
    width: fit-content;
}

nav .nav__logo img {
  width: 148px;
  height: 40px;
}

.btn-action {
  width: 77px;
  height: 32px;
  border: none;
  margin-left: 24px;
}

.form {
  width: 126px;
  height: 32px;
}

.select:active {
  border: 2px solid #fff;
}

@media screen and (max-width: 960px) {
  nav .nav__logo img {
    width: 94px;
    height: 26px;
  }
  .btn-action{
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    width: 100%;
  }
}