.box {
  min-width: 50%;
  height: 434px;
}

.box__title {
  text-align: start;
}

.box__title h2 {
    font-size: 50px;
}

.box__title p {
  margin-top: 16px;
  line-height: 30px;
}

.box .box__img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.box__img3 {
  background: url("../../../assets/imgs/AAAABQsAP_o9hR1G6Iof9Ckx0xjVOkOYPfWTiMN69dvL5yzSCKoCYylyrG4QSXvHmcT9To8tTTtNGP6_97vR8Y5utqllhB17BwfvB_lE.png");
  background-size: cover;
}

.box__img4 {
    background: url("../../../assets/imgs/mobile-0819.jpg");
    background-size: cover
}

.box .box__video video {
    position: relative;
    z-index: 0;
}

.box .box__video.v1 video{
    top: -352px;
    left: -5px;
    width: 430px;
}

.box .box__video.v2 video {
    top: -400px;
    width: 360px;
    left: -5px;
}

.box .box__download {
    width: 316px;
    height: 103px;
    border: 1.6px solid #5A5A5A;
    border-radius: 0.75rem;
    padding: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
    .flex-mobile {
        display: flex;
        flex-direction: column;
    }
}