<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faq section</title>
    <link rel="stylesheet" href="../css/template/components/faq.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="row section flex column justify-center align-center">
        <div class="row container flex column  txt-center faq">
            <h2 class="main-title mbot60">Domande frequenti</h2>
            <ul>
                <li>
                    <p>Cos'è Netflix?</p>
                    <svg class="color-wht" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o4 default-ltr-cache-l7vm9h e1svuwfo1"
                        data-name="Plus" alt="">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z"
                            fill="currentColor"></path>
                    </svg>
                </li>
                <li>
                    <p class="color-wht">Quanto costa Netflix?</p>
                    <svg class="color-wht" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o4 default-ltr-cache-l7vm9h e1svuwfo1"
                        data-name="Plus" alt="">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z"
                            fill="currentColor"></path>
                    </svg>
                </li>
                <li>
                    <p class="color-wht">Dove posso guardare Netflix?</p>
                    <svg class="color-wht" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o4 default-ltr-cache-l7vm9h e1svuwfo1"
                        data-name="Plus" alt="">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z"
                            fill="currentColor"></path>
                    </svg>
                </li>
                <li>
                    <p class="color-wht">Come posso disdire?</p>
                    <svg class="color-wht" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o4 default-ltr-cache-l7vm9h e1svuwfo1"
                        data-name="Plus" alt="">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z"
                            fill="currentColor"></path>
                    </svg>
                </li>
                <li>
                    <p class="color-wht">Cosa posso guardare su Netflix?</p>
                    <svg class="color-wht" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o4 default-ltr-cache-l7vm9h e1svuwfo1"
                        data-name="Plus" alt="">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z"
                            fill="currentColor"></path>
                    </svg>
                </li>
                <li>
                    <p class="color-wht">Netflix è adatto ai bambini?</p>
                    <svg class="color-wht" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o4 default-ltr-cache-l7vm9h e1svuwfo1"
                        data-name="Plus" alt="">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z"
                            fill="currentColor"></path>
                    </svg>
                </li>
            </ul>
            <form action="" class="  flex column justify-center mtop45">
                <p class="p  ">Vuoi guardare Netflix? Inserisci l'indirizzo email per
                    abbonarti o riattivare il
                    tuo
                    abbonamento.
                </p>
                <div class="flex justify-center mtop16 form-btn">
                    <input type="email" name="" class="input-mail border-rounded fpSize">
                    <button
                        class="button primary-color txt-bold border-rounded txt-center flex align-center justify-center txtWht">Inizia
                        ></button>
                </div>
            </form>

        </div>
    </div>
    <div class="divider"></div>
</body>

</html>