<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="row border">
        <div class="row section border">
            <div class="row contForm border flex column">
                <h3 class="txtWht fpSize">Vuoi guardare Netflix? Inserisci l'indirizzo email per abbonarti o riattivare il tuo abbonamento.</h3>
                <div class="form contPadding row container flex justify-center">
                    <input class="form padding" placeholder="La tua email" type="email" />
                    <button class="btn txtWht">Inizia</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>