<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body class="black">
    <div class="row flex column justify-center align-center">
        <div class="row container section flex-mobile">
          <div class="box f_box flex column justify-center align-center">
            <div class="box__title">
              <h2 class="main-title">Goditi Netflix sulla tua TV</h2>
              <p class="h3 mtop16">
                Guarda Netflix su smart TV, Playstation, Xbox, Chromecast, Apple
                TV, lettori Blu-ray e molti altri dispositivi.
              </p>
            </div>
          </div>
          <div class="box transparent">
            <img src="../assets/imgs/tv.png" alt="tv image" class="box__img">
            <div class="box__video v1 flex justify-center align-center">
                <video src="../assets/video/video-tv-0819.m4v" autoplay loop muted></video>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row container section flex-mobile reverse">
          <div class="box transparent">
            <img src="../assets/imgs/device-pile.png" alt="device image" class="box__img" />
            <div class="box__video v2 flex justify-center align-center">
                <video src="../assets/video/video-devices.m4v" autoplay loop muted></video>
            </div>
          </div>
          <div class="box f_box flex column justify-center align-center">
            <div class="box__title">
              <h2 class="main-title">Guarda Netflix ovunque</h2>
              <p class="h3 mtop16">
                Cellulare, tablet, laptop e TV: scegli tu cosa usare per
                guardare in streaming film e serie TV senza limiti.
              </p>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row container section flex-mobile">
          <div class="box last flex column justify-center align-center">
            <div class="box__title">
              <h2 class="main-title">Crea profili per i bambini</h2>
              <p class="h3 mtop16">
                I bambini scoprono nuove avventure in compagnia dei loro
                personaggi preferiti in uno spazio tutto loro già incluso nel
                tuo abbonamento.
              </p>
            </div>
          </div>
          <div class="box box__img3"></div>
        </div>
        <div class="divider"></div>
        <div class="row container section flex-mobile reverse">
          <div class="box box__img4 flex column justify-end align-center">
            <div class="box__download black flex justify-between align-center">
                <img src="../assets/imgs/boxshot.png" alt="boxshot" width="57px" height="84px" />
                <div class="box__titles">
                    <p class="color-wht">Stranger Things</p>
                    <p class="blue">Download in corso...</p>
                </div>
                <img width="50px" height="50px" src="../assets/video/download-icon.gif" />
            </div>
          </div>
          <div class="box last flex column justify-center align-center">
            <div class="box__title">
              <h2 class="main-title">
                Scarica le tue serie da guardare offline
              </h2>
              <p class="h3 mtop16">
                Guarda in aereo, sul treno, in astronave...
              </p>
            </div>
          </div>
        </div>
        <div class="divider"></div>
    </div>
    <script>
    </script>
  </body>
</html>
